.post_container{
    width: 650px;
    margin: 20px;
    margin-top: 20px;
    border-radius: 20px;
}
.post_header{
    display: flex;
    height: 65px;
}
.post_header_img{
    margin: 20px;   
}
.post_header_text{
    font-weight: 500;
    margin-top: 20px;
    font-size: 14px;
}
.post_description{
    display: flex;
    margin: 10px;
}
.post.image{
    margin: 10px 0px;
}
.post_likcountContainer{
    display: flex;
    height: 30px;
    padding: 8px 10px;
    border-bottom: 1px solid #cddbd4;
}
.post_like{

}
.post_img{
    height: 20px;
}
.post_likecount{
    margin-left: 5px;
}
.post_likeShare{
    display: flex;
    height: 40px;
    margin-left: 100px;
    margin-top: 10px;
}
.post_tab{
    display: flex;
    width: 200px;
}
.post_tabfirst{

}
.post_tabing{
    width: 30px;
}
.post_tabtext{
    margin: 5px;
}
.upload_comment{
    border-bottom: 1px solid #CDDBD4;
}